.generaltable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5em;
  }

  
  .generaltable th, .generaltable td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
  }
  
  .generaltable th {
    background-color: #A3A3D6;
    color:  #3B4554;
  }
  
  .generaltable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .generaltable tbody tr:hover {
    background-color: #e5e5e5;
  }

  .table-container {
    border-radius: 18px !important;
    overflow-x: auto;
  }
  

  /* .table-container {
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  } */

/* 
.generaltable {
  width: 100%;
  border-collapse: collapse;
}

.generaltable th,
.generaltable td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #d0cfcf;
}

.generaltable th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .table-container {
    overflow-x: auto;
  }
} */
